.missionSection{
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    color: #fff;
    height: fit-content;

    margin: 5rem 0;
=======
    box-sizing: border-box;

}


.missionPic{
    display: block;
    width: 50%;
    height: 40rem;
    box-sizing: border-box;
}


.missionTxt{
    padding: 2rem 3rem;
}

@media (max-width:800px){
    .missionSection{
        flex-direction: column;
    }

    .missionPic{
        width: 100%;
    }
    .missionTxt{
        padding: 1rem;
    }
}

.missionTitle{
    white-space: nowrap;
    margin: 0;
}

.mission{
    font-size: 1.5rem;
    font-weight: 500;
    font-family: poly;
}


@media (max-width:600px){
    .mission{
        font-size: 1.5rem;
    }
}

.letsChatMission{
    color: #fff;
    border: 2px solid #fff;
    border-radius:5rem;
    padding: .75rem;
    width: fit-content;
    cursor: pointer;
}

.letsChatMission:hover{
    background-color: #fff;
    color: black;
    transition: background-color 1s ease-in;
    transition: color 1s ease-in;
}